/*
    Panel Styles
*/
div.wps-panel{
    margin: 16px 0;
    padding: 10px 10px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
    font-size: 13px;
    line-height: 2.1em;
}
div.wps-panel h3{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}

/*
    Labels
*/
label.wps-label{
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    width: 100px;
}
label.wps-large-label{
    width: 200px;
}
span.wps-radio-label{
    display: inline-block;
}

/*
    Text Boxes
*/
input[type="text"].wps-text{
    width: 75%;
    padding: 10px;
}

/*
    Radio buttons
*/
input[type="radio"].wps-radio{
    margin: 0px 5px;
}
/*
    Table Styles
*/
table.wps-table{
    width: 100%;
    border-collapse: collapse;
}
table.wps-table thead{
    background-color: #d9edf7;
}
table.wps-table thead tr td{
    font-weight: 600;
    text-align: center;
    width: 20%;
}
table.wps-table tbody tr:nth-child( even ){
    background-color: #eee;
}

table.wps-table tbody tr td{
    text-align: center;
}

/*
    Enabled Sites Table
*/
table#wps-enabled-sites-table tbody tr td:nth-child(1){
    width: 10%;
}
table#wps-enabled-sites-table tbody tr td:nth-child(2){
    width: 45%;
}
table#wps-enabled-sites-table tbody tr td:nth-child(3){
    width: 45%;
}
/*
    Network Access Table
*/
table#wps-network-access-table{
    table-layout: fixed;
}
/*
    Manage Access
*/
a.wps-remove-access{
    cursor: pointer;
}

/*
    Validations
*/
div.validation{
    color: red;
    display: none;
    padding: 10px 0px;
}

/*
    Settings saved display
*/
div#wps-settings-saved{
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 15px;
    display: none;
}

/*
    Disabled Banner
*/
div#wps-disabled-banner{
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 15px;
    border: rgb(237, 65, 41) solid 3px;
    background-color: rgb(250, 223, 222);
    color: black;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}

div.wps-disabled-banner-enabled{
    display: none;
}

/*
    Admin header logo
*/
img.wps-header-logo{
    margin: 10px 5px;
}